@model Payspace_NextGen.Models.PostCode

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PostCode</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PostCodeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostCodeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type.TypeRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type.TypeRate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
