@model IEnumerable<Payspace_NextGen.Models.calculationDetail>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DetailName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DetailValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Calculation.NamePayment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employe.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DetailName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DetailValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Calculation.NamePayment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employe.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
